$myColor: red;

h1 {
  color: $myColor;
}
.root{
  padding: 10px;
}
.root_item_note {
  background-color: rgb(253, 230, 95);
  margin:  10px;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  border: yellow solid 2px;
  border-radius: 10px;
}
.time_item_note {
  margin: 0px;
  color:rgb(99, 99, 99);
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; 
  align-items: flex-end;
}
.text_item_note {
  margin: 0px;
  font-family: cursive;
  text-align: left;
}
.bttn {
  width: 150px;
}
